version: '3.8'

volumes:
  lottery_log:
services:
  lottery:
    container_name: lottery
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 8888
    ports:
      - "28458:8888"
    volumes:
      - "lottery_log:/var/log"
    restart: always
